@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
  background-color: $background-secondary;
  border-bottom: 1px solid #000;
  padding: 30px 0px;
  z-index: 2;
  box-shadow:  0  5px  10px rgba(0,  0,  0,  0.15);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
}